// Copyright (C) 2011 Apple Inc. All rights reserved.
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions
// are met:
// 1. Redistributions of source code must retain the above copyright
//    notice, this list of conditions and the following disclaimer.
// 2. Redistributions in binary form must reproduce the above copyright
//    notice, this list of conditions and the following disclaimer in the
//    documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY APPLE INC. ``AS IS'' AND ANY
// EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
// PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL APPLE INC. OR
// CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
// EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
// PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
// PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
// OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 

INSTALL_PATH = $(INSTALL_PATH_PREFIX)$(WTF_FRAMEWORKS_DIR);
PRODUCT_NAME = wtf;
PRODUCT_BUNDLE_IDENTIFIER = com.apple.$(PRODUCT_NAME:rfc1034identifier);

INFOPLIST_FILE = Info.plist;

GCC_SYMBOLS_PRIVATE_EXTERN = YES;
STRIP_INSTALLED_PRODUCT = NO;

// ICU headers don't have target membership in WTF, but they are visible to the "Generate TAPI filelist" build phase. Since they are not installed to /usr/local/include/wtf and not API, tell the script to ignore them.
EXCLUDED_SOURCE_FILE_NAMES = $(inherited) icu/unicode/* $(EXCLUDED_SOURCE_FILE_NAMES_$(USE_INTERNAL_SDK));
EXCLUDED_SOURCE_FILE_NAMES_[sdk=embedded*] = MachExceptions.defs;

INSTALLHDRS_SCRIPT_PHASE = YES;
INSTALLHDRS_COPY_PHASE = YES;
APPLY_RULES_IN_COPY_HEADERS = YES;

NORMAL_WTF_FRAMEWORKS_DIR = $(SYSTEM_LIBRARY_DIR)/PrivateFrameworks;

WTF_FRAMEWORKS_DIR = $(WTF_FRAMEWORKS_DIR_USE_OVERRIDE_FRAMEWORKS_DIR_$(WK_USE_OVERRIDE_FRAMEWORKS_DIR));
WTF_FRAMEWORKS_DIR_USE_OVERRIDE_FRAMEWORKS_DIR_NO = $(WTF_FRAMEWORKS_DIR_USE_ALTERNATE_FRAMEWORKS_DIR_$(WK_USE_ALTERNATE_FRAMEWORKS_DIR));
WTF_FRAMEWORKS_DIR_USE_OVERRIDE_FRAMEWORKS_DIR_YES = $(WK_OVERRIDE_FRAMEWORKS_DIR);
WTF_FRAMEWORKS_DIR_USE_ALTERNATE_FRAMEWORKS_DIR_NO = $(NORMAL_WTF_FRAMEWORKS_DIR);
WTF_FRAMEWORKS_DIR_USE_ALTERNATE_FRAMEWORKS_DIR_YES = $(WK_ALTERNATE_FRAMEWORKS_DIR)/$(SYSTEM_LIBRARY_DIR)/PrivateFrameworks;

CRYPTEX_SYMLINK_PATH = $(WTF_FRAMEWORKS_DIR);

OUTPUT_CRYPTEX_SYMLINK_PATH = $(OUTPUT_CRYPTEX_SYMLINK_PATH_$(USE_SYSTEM_CONTENT_PATH)_$(WK_NOT_$(WK_USE_OVERRIDE_FRAMEWORKS_DIR)));
OUTPUT_CRYPTEX_SYMLINK_PATH_YES_YES = $(DSTROOT)$(CRYPTEX_SYMLINK_PATH)/$(FULL_PRODUCT_NAME);

ICU_HEADERS_FOLDER_PATH = $(ICU_HEADERS_FOLDER_PATH_$(DEPLOYMENT_LOCATION));
ICU_HEADERS_FOLDER_PATH_NO = $(BUILT_PRODUCTS_DIR)$(WK_LIBRARY_HEADERS_FOLDER_PATH)/unicode;
ICU_HEADERS_FOLDER_PATH_YES = $(WTF_INSTALL_PATH_PREFIX)$(WK_LIBRARY_HEADERS_FOLDER_PATH)/unicode;

SYSTEM_FRAMEWORK_SEARCH_PATHS = $(inherited) $(WK_PRIVATE_SDK_DIR)$(SYSTEM_LIBRARY_DIR)/PrivateFrameworks

// Used to generate headers filelist for TAPI in JavaScriptCore. CPP_HEADERMAP_PRODUCT_HEADERS_VFS_FILE
// is not exported to script phases, so it must be bound to a different name.
WK_HEADERS_VFS_FILE = $(CPP_HEADERMAP_PRODUCT_HEADERS_VFS_FILE);

DEFINES_MODULE = YES;
ENABLE_MODULE_VERIFIER = YES;

MODULEMAP_FILE = $(SRCROOT)/wtf.modulemap;
MODULEMAP_PRIVATE_FILE = $(SRCROOT)/wtf_Private.modulemap;
MODULE_VERIFIER_SUPPORTED_LANGUAGES = objective-c++ c++;
OTHER_MODULE_VERIFIER_FLAGS = -- -iframework $(BUILT_PRODUCTS_DIR) -I$(BUILT_PRODUCTS_DIR)$(WK_LIBRARY_HEADERS_FOLDER_PATH) -I$(WK_ADDITIONAL_SDKS)$(WK_LIBRARY_HEADERS_FOLDER_PATH) -Xclang -fno-implicit-module-maps $(OTHER_MODULE_VERIFIER_FLAGS_$(WK_EMPTY_$(WK_OVERRIDE_FRAMEWORKS_DIR)));
OTHER_MODULE_VERIFIER_FLAGS_ = -iframework "$(WK_PRIVATE_SDK_DIR)$(WK_OVERRIDE_FRAMEWORKS_DIR)" -isystem "$(WK_PRIVATE_SDK_DIR)$(WK_ALTERNATE_WEBKIT_SDK_PATH)$(WK_LIBRARY_HEADERS_FOLDER_PATH)";

//OTHER_LDFLAGS = $(inherited) -force_load $(BUILT_PRODUCTS_DIR)/libbmalloc.a -force_load $(BUILT_PRODUCTS_DIR)/libpas.a;


SUPPORTS_TEXT_BASED_API = YES;
TAPI_USE_SRCROOT = YES;
TAPI_ENABLE_PROJECT_HEADERS = YES;
TAPI_VERIFY_MODE = Pedantic;
OTHER_TAPI_FLAGS = $(inherited) -fvisibility=hidden -exclude-private-header **/*SPI.h;
OTHER_TAPI_FLAGS_STATICLIBS_NO = -filelist $(BUILT_PRODUCTS_DIR)/usr/local/include/bmalloc/bmalloc.json;
OTHER_TAPI_FLAGS_STATICLIBS_YES = -filelist $(DERIVED_FILE_DIR)/bmalloc.json;

SWIFT_VERSION = 6.0;
SWIFT_VERSION[sdk=macosx14*] = 5.0;

SWIFT_OPTIMIZATION_LEVEL = -O;
SWIFT_OPTIMIZATION_LEVEL[config=Debug] = -Onone;

//SWIFT_INCLUDE_PATHS = /Users/richardrobinson/Safari/OpenSource/WebKitBuild/Debug/usr/local/include;

_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP=YES;

OTHER_SWIFT_FLAGS = $(inherited) -Xcc -std=c++2b -Xfrontend -experimental-spi-only-imports -Xfrontend -enable-experimental-concurrency -Xfrontend -enable-upcoming-feature -Xfrontend IsolatedDefaultValues;

SWIFT_OBJC_INTEROP_MODE = objcxx;

BUILD_LIBRARY_FOR_DISTRIBUTION = YES;
SWIFT_INSTALL_OBJC_HEADER = NO;
SWIFT_LIBRARY_LEVEL = spi;

HEADERMAP_INCLUDES_FRAMEWORK_ENTRIES_FOR_TARGETS_NOT_BEING_BUILT = NO;
HEADERMAP_USES_VFS = YES;
